SPRING_PROFILES_ACTIVE=dev,debug

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5431/approved_premises_localdev
SPRING_DATASOURCE_USERNAME=localdev
SPRING_DATASOURCE_PASSWORD=localdev_password

SPRING_DATA_REDIS_HOST=localhost
SPRING_DATA_REDIS_PORT=6379
SPRING_DATA_REDIS_PASSWORD=

SPRING_FLYWAY_LOCATIONS=classpath:db/migration/all,classpath:db/migration/local+dev+test,classpath:db/migration/dev,classpath:db/migration/all-except-integration

SEED_FILE-PREFIX=./seed
SEED_ON-STARTUP_ENABLED=true
SEED_ON-STARTUP_FILE-PREFIXES=classpath:db/seed/dev+test,classpath:db/seed/local+dev+test
SEED_ON-STARTUP_SCRIPT_CAS1-ENABLED=true
SEED_ON-STARTUP_SCRIPT_CAS2-ENABLED=true
SEED_ON-STARTUP_SCRIPT_NOMS=A5276DZ
SEED_ON-STARTUP_SCRIPT_PRISON-CODE=MDI

HMPPS_SQS_PROVIDER=localstack
HMPPS_SQS_LOCALSTACKURL=http://localhost:4566
HMPPS_SQS_TOPICS_DOMAINEVENTS_ARN=arn:aws:sns:eu-west-2:000000000000:domainevents

HMPPS_AUTH_URL=https://sign-in-dev.hmpps.service.justice.gov.uk/auth
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK-SET-URI=https://sign-in-dev.hmpps.service.justice.gov.uk/auth/.well-known/jwks.json

SERVICES_HMPPS-TIER_BASE-URL=http://localhost:9004/hmpps-tier-proxy
SERVICES_PRISONS-API_BASE-URL=http://localhost:9004/prisons-api-proxy
SERVICES_PROBATION-OFFENDER-SEARCH-API_BASE-URL=http://localhost:9004/probation-offender-search-proxy
SERVICES_CASE-NOTES_BASE-URL=http://localhost:9004/case-notes-proxy
SERVICES_AP-OASYS-CONTEXT-API_BASE-URL=http://localhost:9004/ap-and-oasys-proxy
SERVICES_AP-DELIUS-CONTEXT-API_BASE-URL=http://localhost:9004/ap-and-delius-proxy
SERVICES_GOV-UK-BANK-HOLIDAYS-API_BASE-URL=http://localhost:9004/gov-uk-bank-holidays-proxy
SERVICES_PRISONER-ALERTS-API_BASE-URL=http://localhost:9004/prisoner-alerts-proxy

SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_DELIUS-BACKED-APIS_CLIENT-ID=${SYSTEM_CLIENT_DELIUS_ID}
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_DELIUS-BACKED-APIS_CLIENT-SECRET=${SYSTEM_CLIENT_DELIUS_SECRET}
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_PRISONS-API_CLIENT-ID=${SYSTEM_CLIENT_NOMIS_ID}
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_PRISONS-API_CLIENT-SECRET=${SYSTEM_CLIENT_NOMIS_SECRET}
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_NOMIS-USER-ROLES-API_CLIENT-ID=${SYSTEM_CLIENT_NOMIS_USER_ROLES_ID}
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_NOMIS-USER-ROLES-API_CLIENT-SECRET=${SYSTEM_CLIENT_NOMIS_USER_ROLES_SECRET}
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_CASE-NOTES_CLIENT-ID=${SYSTEM_CLIENT_OFFENDER_CASE_NOTES_ID}
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_CASE-NOTES_CLIENT-SECRET=${SYSTEM_CLIENT_OFFENDER_CASE_NOTES_SECRET}
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_AP-OASYS-CONTEXT_CLIENT-ID=${SYSTEM_CLIENT_APPROVED_PREMISES_AND_OASYS_ID}
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_AP-OASYS-CONTEXT_CLIENT-SECRET=${SYSTEM_CLIENT_APPROVED_PREMISES_AND_OASYS_SECRET}
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_HMPPS-TIER_CLIENT-ID=${SYSTEM_CLIENT_TIER_ID}
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_HMPPS-TIER_CLIENT-SECRET=${SYSTEM_CLIENT_TIER_SECRET}
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_PRISONER-ALERTS-API_CLIENT-ID=${SYSTEM_CLIENT_NOMIS_ID}
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_PRISONER-ALERTS-API_CLIENT-SECRET=${SYSTEM_CLIENT_NOMIS_SECRET}

# properties that are not defined in the default application.yml, but are required. These have been taken from helm dev configuration
DOMAIN-EVENTS_CAS1_EMIT-ENABLED=true
DOMAIN-EVENTS_CAS2_EMIT-ENABLED=true
DOMAIN-EVENTS_CAS3_EMIT-ENABLED=referralSubmitted,bookingProvisionallyMade,bookingConfirmed,bookingCancelled,bookingCancelledUpdated,personArrived,personArrivedUpdated,personDeparted,personDepartureUpdated
DOMAIN-EVENTS_CAS1_ASYNC-SAVE-ENABLED=false
DOMAIN-EVENTS_CAS2_ASYNC-SAVE-ENABLED=false
DOMAIN-EVENTS_CAS3_ASYNC-SAVE-ENABLED=false

USER-ALLOCATIONS_RULES_ESAP-ASSESSMENTS_ALLOCATE-TO-USER=AP_USER_TEST_2

SENTRY_ENVIRONMENT=local

NOTIFY_EMAILADDRESSES_NACRO=${NOTIFY_EMAILADDRESSES_NACRO}

