# This file provides the default API configuration (as environment variables)
# It assumes that the API is being ran via gradle (e.g. --local-cas1-ui)
# Some of these values are overridden in docker-compose.yml for when running via docker.
APPROVED_PREMISES_API_URL=http://localhost:8080

HMPPS_AUTH_EXTERNAL_URL=https://sign-in-dev.hmpps.service.justice.gov.uk/auth
HMPPS_AUTH_URL=https://sign-in-dev.hmpps.service.justice.gov.uk/auth

API_CLIENT_ID="${API_CLIENT_ID}"
API_CLIENT_SECRET="${API_CLIENT_SECRET}"

SYSTEM_CLIENT_ID="${SYSTEM_CLIENT_ID}"
SYSTEM_CLIENT_SECRET="${SYSTEM_CLIENT_SECRET}"

REDIS_PORT=6379
REDIS_TLS_ENABLED=false
REDIS_AUTH_TOKEN=

SESSION_SECRET=app-insecure-default-session
NODE_ENV=development
LOG_LEVEL=debug

ENABLE_V2_MATCH=true

INGRESS_URL=http://localhost:3000
